<template>
  <div class="about">
    <h1>Cheatsheet Manual {{ version }}</h1>
    <div v-if="localPath" id="electron-info">
      <p v-if="localPath">
        All local Electron data is stored here:<br />
        <span id="electron-file-path">{{ localPath }}</span>
      </p>
      <p>Be careful! No backups are available.</p>
    </div>
    <div id="hotkeys">
      <h3>Hotkeys</h3>
      <p>
        On linux you can use the ALT key. On windows and mac you can use the
        Windows key or Command key, respectively.
      </p>
      <p>ALT + e: Toggle Edit Mode</p>
      <p>ALT + f: Focus the search bar</p>
    </div>
  </div>
</template>

<script>
import { version } from "@/../package.json";

export default {
  name: "About",
  data: () => ({
    localPath: null,
    version: version,
  }),
  mounted() {
    this.localPath = this.$fileStore.path;
  },
};
</script>

<style>
.about {
  margin-left: 15px;
  margin-right: 15px;
}
#electron-file-path {
  background-color: aquamarine;
}
</style>
