<template>
  <div class="cheatsheet-editor">
    <v-btn
      class="editor-button"
      outlined
      tile
      :disabled="empty"
      color="black"
      @click="save"
    >
      <v-icon left>mdi-content-save-outline</v-icon> save
      <template v-slot:save>
        <span>
          Saving...
        </span>
      </template>
    </v-btn>

    <v-text-field
      dense
      outlined
      label="Title"
      :rules="[rules.content]"
      v-model="title"
      @input="handle_input"
    ></v-text-field>

    <v-text-field
      dense
      outlined
      filled
      label="Tags"
      v-model="tags"
      @input="handle_input"
    ></v-text-field>

    <v-textarea
      outlined
      auto-grow
      rows="18"
      label="Body"
      :rules="[rules.content]"
      v-model="body"
      @input="handle_input"
    ></v-textarea>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "CheatsheetEditor",
  data: () => ({
    title: "",
    tags: "",
    body: "",
    empty: true,
    rules: { content: (value) => !!value || "Required" },
  }),

  created() {
    if (this.cur_cheatsheet !== null) {
      this.title = this.cur_cheatsheet.title;
      this.body = this.cur_cheatsheet.body;
      this.tags = this.cur_cheatsheet.tags;
    }
  },

  methods: {
    enable_save(self) {
      if (self.title.length > 0 || this.body.length > 0) {
        self.empty = false;
      } else {
        self.empty = true;
      }
    },

    ...mapActions({
      update_draft: "update_draft",
      save_cheatsheet: "save_cheatsheet",
    }),

    handle_input() {
      let self = this;
      this.enable_save(self);
      this.update_draft({
        title: this.title,
        body: this.body,
        tags: this.tags,
      });
    },
    save() {
      // start save notification
      const l = this.save;
      this[l] = !this[l];

      this.save_cheatsheet(this.newDraft);
      this.$fileStore.set("cheatsheets", this.fetch_cheatsheets);

      // remove the saving notification
      this[l] = false;
      this.save = null;
    },
  },

  computed: {
    ...mapGetters({
      newDraft: "new_draft",
      cur_cheatsheet: "cur_cheatsheet",
      fetch_cheatsheets: "get_latest_cheatsheets",
    }),
  },
};
</script>

<style scoped>
.cheatsheet-editor {
  margin-left: 5px;
  margin-right: 5px;
}

.editor-button {
  margin-bottom: 12px;
}
</style>
