<template>
  <div id="cheatsheet-reader" v-if="cur_cheatsheet !== null">
    <div id="cheatsheet-reader-title">
      {{ cur_cheatsheet.title }}
    </div>
    <div id="cheatsheet-reader-body">
      {{ cur_cheatsheet.body }}
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "CheatsheetReader",
  computed: {
    ...mapGetters({
      cur_cheatsheet: "cur_cheatsheet",
    }),
  },
};
</script>

<style scoped>
#cheatsheet-reader {
  border-top: 1px #d8dce2 solid;
}
</style>
