<template>
  <v-row no-gutters>
    <v-col id="sheetlist-col" cols="4">
      <Search />
      <List />
    </v-col>
    <v-col>
      <Reader v-if="!edit_enabled" />
      <Editor v-if="edit_enabled" />
    </v-col>
  </v-row>
</template>

<script>
// @ is an alias to /src
import SheetList from "@/components/SheetList.vue";
import CheatsheetReader from "@/components/CheatsheetReader.vue";
import Search from "@/components/Search.vue";
import CheatsheetEditor from "@/components/CheatsheetEditor.vue";
import { mapGetters } from "vuex";

export default {
  name: "Home",
  components: {
    List: SheetList,
    Reader: CheatsheetReader,
    Editor: CheatsheetEditor,
    Search: Search,
  },
  computed: {
    ...mapGetters({
      edit_enabled: "edit_mode",
    }),
  },
};
</script>

<style scoped>
div#sheetlist-col {
  border-top: 1px #d8dce2 solid;
  border-right: 1px #d8dce2 solid;
}
</style>
