<template>
  <div class="navbar">
    <div class="nav">
      <!-- Main toolbar -->
      <v-app-bar dense flat color="white">
        <router-link class="nav-link" to="/">
          <v-btn id="home" icon tile depressed>
            <v-icon>mdi-home</v-icon>
          </v-btn>
        </router-link>

        <router-link class="nav-link" to="/about">
          <v-btn id="about-page" tile depressed icon>
            <v-icon>mdi-help</v-icon>
          </v-btn>
        </router-link>
      </v-app-bar>

      <!-- Home Toolbar -->
      <div class="home-toolbar" v-if="on_home">
        <v-tooltip bottom color="black">
          <template v-slot:activator="{ on }">
            <v-btn
              tile
              depressed
              icon
              v-on="on"
              v-on:click="toggle_edit_mode(currentRoute)"
            >
              <v-icon v-if="edit_enabled">mdi-pencil-lock</v-icon>
              <v-icon v-if="!edit_enabled">mdi-square-edit-outline</v-icon>
            </v-btn>
          </template>
          <span>Toggle edit mode</span>
        </v-tooltip>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Navbar",
  data() {
    return {
      on_home: true,
    };
  },
  watch: {
    $route(to) {
      if (to.path === "/") {
        this.on_home = true;
      }
      if (to.path !== "/") {
        this.on_home = false;
      }
    },
  },
  methods: {
    ...mapActions({
      toggle_edit_mode: "toggle_edit_mode",
    }),
  },
  computed: {
    ...mapGetters({
      edit_enabled: "edit_mode",
    }),
    currentRoute() {
      return this.$route.name;
    },
  },
};
</script>

<style scoped>
.router-link-exact-active {
  text-decoration: underline;
}

a {
  text-decoration: none;
}
</style>
