<template>
  <div class="search-pane">
    <v-text-field
      v-model="query"
      v-on:keyup.esc="clear_input"
      id="search"
      clearable
      single-line
      hint="ESC to clear"
      label="Search"
    ></v-text-field>
  </div>
</template>

<script>
export default {
  name: "Search",
  data: () => ({
    query: "",
  }),
  methods: {
    clear_input() {
      this.query = "";
    },
  },
};
</script>

<style scoped></style>
