<template>
  <div>
    <p v-if="sheetCount === 0">No Cheatsheets found!</p>
    <v-list>
      <v-list-item-group>
        <v-list-item
          :ripple="false"
          v-for="(sheet, i) in sheets"
          :key="i"
          v-on:click="select_cheatsheet(sheet)"
          :disabled="edit_mode"
        >
          <v-list-item-content two-line>
            <v-list-item-title>{{ sheet.title }}</v-list-item-title>
            <v-list-item-subtitle>{{ sheet.body }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data: () => ({}),

  name: "SheetList",

  mounted() {
    // if electron, get from local store
    let cheatsheets = this.$fileStore.get("cheatsheets");
    // but only if there's something there!
    if (cheatsheets !== undefined) {
      this.recache_cheatsheets(cheatsheets);
    }
    //otherwise call recache
    // this.recache_cheatsheets();
  },

  methods: {
    ...mapActions({
      select_cheatsheet: "select_cheatsheet",
      recache_cheatsheets: "recache_cheatsheets",
    }),
  },

  computed: {
    ...mapGetters({
      edit_mode: "edit_mode",
      sheets: "get_latest_cheatsheets",
    }),
    sheetCount() {
      return this.sheets.length;
    },
  },
};
</script>

<style scoped></style>
