<template>
  <v-app>
    <GlobalEvents
      @keyup.alt.70="focus_searchbar"
      @keyup.meta.70="focus_searchbar"
      @keydown.meta.69="toggle_edit_mode(currentRoute)"
      @keydown.alt.69="toggle_edit_mode(currentRoute)"
    />
    <Navbar />
    <main>
      <router-view />
    </main>
  </v-app>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import { mapActions } from "vuex";

export default {
  name: "App",

  components: {
    Navbar: Navbar,
  },

  methods: {
    focus_searchbar() {
      let search_input = document.getElementById("search");
      if (search_input) {
        search_input.focus();
      }
    },
    ...mapActions({
      toggle_edit_mode: "toggle_edit_mode",
    }),
  },
  computed: {
    currentRoute() {
      return this.$route.name;
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
html {
  overflow-y: auto;
}
</style>
